<p id="notice"><%= notice %></p>
<a> <%= link_to @cart_message, cart_path(current_cart) %></a>
<br></br>
<h1>The Flipkart Catalog</h1>
<a style="color:#c2c2c2; font-size: 10px; padding-bottom: 5px; margin-bottom: 10px;"> <%= @shown_message %></a>

<% cache @products do %>
	<% @products.each do |product| %>
		<% cache product do %>
			<div class="entry">
				<%= link_to image_tag(product.image_url, {:border => "0", :title => "Push it into cart!"}), line_items_path(:product_id => product), {:method => :post} %>
                <h3><%= product.title %></h3>
				<%= sanitize(product.description) %>
				<div class="price_line">
					<span class="price"><%= number_to_currency(product.price, :locale => :hi) %></span>
					<%= button_to 'Add to Cart', line_items_path(product_id: product) %>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>